.header-background {
  background: url('./images/pic_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.courses-header-background {
  background: url('./images/pic_3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.logo-img {
  width: 36px;
}

.header-container {
  background: transparent;
  background-color: transparent;
}

.header-title {
  font-weight: 700;
  font-size: 120px;
}

@media (max-width: 576px) {
  h1 {
      font-size: 60px;
  }
}

.header-subtitle {
  font-size: 16px;
  font-weight: 700;
}

.button-primary {
  background-color: #C271FF;
  border-color: #C271FF;
  font-size: 14px;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: #C271FF;
  opacity: 0.9;
  border-color: #C271FF;
}

.text-pink {
  color: #C271FF;
}
.bg-pink {
  background-color: #C271FF;
}

.bg-navy {
  background-color: #071629;
}

.text-navy {
  color: #071629;
}

.font-weight-boldest {
  font-weight: 900;
}

.card {
  background: transparent;
  border: none;
  color: #FFFFFF;
}

.header-card {
  height: 237px;
  width: 150px;
}

.avatar {
  height: 160px;
  width: 160px;
}

.quote {
  font-size: 22px;
}

.carousel-btn {
  height: 62px;
  width: 29px;
}
/* The carousel buttons wouldn'd position correctly so I am using margin to fix. I tested on smaller screen sizes and it mostly works, if not perfect. */
.tutorial-btn-l {
  margin-left: -8%;
}

.tutorial-btn-r {
  margin-right: -8%;
}

.video-card {
  width: 255px;
  height: 335px;
  color: #071629;

}

.video-avatar {
  height: 30px;
}

.rating-row {
  height: 15px;
}

.rating-star {
  width: 15px;
}

.membership-img {
  height: 36px;
  width: 45px;
}

.sm-icon {
  font-size: 30px;
  text-decoration: none;
}

.footer-text {
  font-size: 12px;
  opacity: 35%;
}

.opacity-50 {
  opacity: 50%;
}

.pricing-header-background {
  background: url('./images/pic_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.font-coiny {
  font-family: Coiny;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-44 {
  font-size: 44px;
}

.font-size-60 {
  font-size: 60px;
}

.opacity-20 {
    opacity: 20%;
}

.holberton_school-icon-check {
  color: #82D24F;
  font-size: 28px;
}

.signal {
  scale: 2;
}

